.my-container{
    max-width: 1250px;
    min-height: 900px;
    margin: 0 auto;
    background-color: burlywood;
}

.cart-container {
  width: 800px;
  margin-left: 11rem;
  margin-top: 5rem;
  background: burlywood;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 4px 15px rgb(51, 5, 5);
  font-family: sans-serif;
  direction: rtl;
  text-align: right;
  position: absolute;
}

.cart-container h2 {
  color: #2b1800;
  margin-bottom: 1.5rem;
}

.cart-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid #2b1600;
  padding-bottom: 1rem;
}

.cart-item img {
  width: 100px;
  height: auto;
  object-fit: contain;
}

.cart-details h3 {
  margin: 0 0 0.5rem;
  font-size: 1.1rem;
}

.cart-details p {
  color: #2b1800;
  margin-bottom: 0.5rem;
}

.cart-details input {
  width: 60px;
  padding: 0.3rem;
  margin-left: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.3rem;
}

.cart-details button {
  background-color: #2b1700;
  color: white;
  border: none;
  padding: 0.4rem 1rem;
  border-radius: 0.4rem;
  cursor: pointer;
}

.cart-footer {
  margin-top: 2rem;
  text-align: left;
}

.cart-footer button {
  background-color: #2b1800;
  color: white;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 0.5rem;
  cursor: pointer;
  margin-left: 10rem;
}

.cart-footer a {
  text-decoration: none;
  color: #2b1800;
  background-color: transparent;
  font-size: 20px;
  padding: 1rem;
}

.cart-footer a:hover {
  box-shadow: 0px 3px 15px rgb(61, 5, 5);
  border-radius: 25px;
}

.empty {
  text-align: center;
  color: #2b1800;
  font-size: 1.2rem;
  padding: 3rem;
  gap: 2;
}

.empty a {
  text-decoration: none;
  font-size: 25px;
  color: #2b1700;
  background-color: transparent;
  padding: 1rem;
  margin-right: -4rem;
}

.empty a:hover {
   box-shadow:  0px 3px 15px rgb(54, 5, 5);
   border-radius: 25px;
}

.cart-total{
  color: #2b1800;
}

.date-time {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem;
}

.date-time label {
  font-size: 1rem;
  color: #2b1800;
  font-weight: bold;
  margin-left: 1rem;
}

.date input {
  width: 12rem;
  height: 2.5rem;
  text-align: center;
  border: none;
  box-shadow: 3px 5px 15px #2b1800;
  border-radius: 5px;
  color: #2b1800;
}

.date input:hover {
  background-color: burlywood;
  color: brown;
} 

.time select {
  width: 12rem;
  height: 2.5rem;
  text-align: center;
  border: none;
  box-shadow: 3px 5px 15px #2b1800;
  border-radius: 5px;
  color: #2b1800;
}

.time select:hover {
   background-color:burlywood;
   color: brown;
}

.datepicker {
  width: 70%;
  max-width: 20rem;
  position: relative;
}

.custom-date-input {
  width: 50%;
  height: 3rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 0.5rem;
  box-sizing: border-box;
}

.rmdp-wrapper {
  width: 75% !important;
  max-width: 25rem;
  background: burlywood;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 3px 5px 15px rgba(0,0,0,0.1);
  direction: rtl;
}

.empty strong {
  background-color: #2b1600; 
  color: burlywood; 
  padding: 0.4rem 0.4rem;
  border-radius: 50%;
  display: inline-block;
  min-width: 2rem;
  text-align: center;
  font-weight: bold;
  margin: 0 0.5rem;
}