.contact-bg {
  position: relative;
  background-image: url('../images/women-clothes.jpg'); /* آدرس صحیح تصویر */
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  max-width: 1250px;
  margin: 0 auto;
}

.contact-bg::before {
  content: '';
  position: absolute;
  inset: 0;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* برای سافاری */
  background-color: rgba(234, 203, 131, 0.3);
  z-index: 1;
}

.contact-overlay {
  position: relative;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 2rem 3rem;
  border-radius: 1rem;
  max-width: 600px;
  width: 90%;
  text-align: center;
  font-family: sans-serif;
  box-shadow: 0 0 20px rgb(46, 3, 3);
}

.contact-overlay h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #333;
}

.contact-overlay p {
  font-size: 1rem;
  color: #444;
  margin: 0.5rem 0;
}

.contact-details {
  margin-top: 1.5rem;
  text-align: right;
  direction: rtl;
}

@media(max-width:768px){
   .contact-overlay{
      width: 230px;
   }
}

@media(max-width:430px){
   .contact-overlay{
      width: 230px;
   }
}