.navbar-container{
  max-width: 1250px;
  background-color: burlywood;
  margin: 0 auto;
}


.navbar {
  display: flex;
  justify-content: flex-end;  /* ✅ مقدار درست */
  gap: 4rem;
  margin-right: 5rem;
}

.navbar a {
  color: rgb(54, 35, 7);
  font-weight: bold;
  font-size: 1rem;
  transition: color 0.3s;
  text-decoration: none;
  margin-top: 2rem;
}

.navbar a:hover {
  color: rgb(117, 77, 29);
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    margin-right: 3rem;
    margin-bottom: 0;
  }

  .navbar a {
    font-size: 1.1rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }
}